
<div class="home" >
    <div class="description" id="particles-js">
        <div class="presentation">
            <div class="intro">Hello my name is</div>
            <div class="name">Franck Arthur KOUNKORGO</div>
            <div class="wrapper">
                <div class="txt-static">I'm a</div>
            <ul class="txt-dynamic">
                <li><span>Student</span></li>
                <li><span>Developer</span></li>
                <li><span>Designer</span></li>
            </ul>
            </div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in sed ipsa voluptatum dignissimos <br> accusantium incidunt, dolorum, quibusdam, vero aperiam vitae? Quod quo perferendis facere.</div>
            <div class="hire-me"><a href="#">Hire me !</a></div>
        </div>
    </div>
    <div class="email">
        <a href="">kofrathur@gmail.com</a>
        <div class="button-group">
            <div class="link1"><a href=""><img src="./assets/images/github.png" alt="icon"></a></div>
            <div class="link2"><a href=""><img src="./assets/images/stackoverflow.png" alt="icon"></a></div>
            <div class="link3"><a href=""><img src="./assets/images/linkedin.png" alt="icon"></a></div>
        </div>
    </div>
</div>
