:root {
    --main-bg-color: #303030;
    --main-txt-color: #f6bd60;
  }
header{
    height: 100vh;
    width: 100vw;
}

.navbar{
    position: absolute;
    padding:  50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; 
}
.navbar a {
    font-size: 18px;
    color: #a0a0a0;
    position: relative;
    padding: 0 10px;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li {
    margin: 0 25px;
}
.navbar a::after{
    content: "";
    position: absolute;
    background-color: var(--main-txt-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar a:hover{
    color: white;
}
.navbar a:hover::after{
    width: 100%;
}
.navbar .menu-hamburger{
    display: none;
    width: 35px;
    position: absolute;
    top: 55px;
    right: 25px;
    color: white;
}
.mobile-menu{
    margin-left: 0; 
}
/*---------------------------------------*/
.home{
    top: 100px;
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
}
.description,.email{
    height: calc(100vh - 100px);
}
.description{
    background-color:var(--main-bg-color);
    float: left;
    width: calc(100% - 70px);
}
.presentation{
    position: absolute;
    top: 150px;
    left: 7%;
}
.intro {
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.wrapper{
    display: inline-flex;
}
.wrapper .txt-static{
    font-weight: 500;
    color: white;
    font-size: 40px;
}
.wrapper .txt-dynamic{
    margin-left: 15px;
    line-height: 60px;
    height: 65px;
    overflow: hidden;
}
.txt-dynamic li{
    font-size: 40px;
    font-weight: 600;
    color: var(--main-txt-color);
    position: relative;
    top: 0;
    animation: slide 6s steps(3) infinite;
}


@keyframes slide{
    100%{
        top: -180px;
    }
}
.txt-dynamic li span{
    position: relative;
}
.txt-dynamic li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--main-bg-color);
    border-left: 2px solid var(--main-txt-color);
    animation: typing 2s steps(9) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -38px 0 35px;
    }
}
.name{
    font-size: 64px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5),
                -2px -2px 2px   rgba(00, 00, 00, 0.2);
}

.text{
    font-weight: 400;
    font-size: 14;
    color: white;
}
.email{
    background-color:var(--main-bg-color);
    float: right;
    width: 70px;
    writing-mode: vertical-rl;
   /* text-orientation: upright;*/
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    border-left: 2px solid whitesmoke;
}
.hire-me{
    border: 1px solid var(--main-txt-color);
    margin-top: 15px;
    padding: 7px 7px 7px 17px;
    width: 110px;
    background-color: var(--main-txt-color);
    border-radius: 15px;
    
}
.hire-me a{
    color: black;
    font-size: 16;
    font-weight: 500;
}
.button-group{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    vertical-align: middle;
    float: none;
    border-left: 2px solid whitesmoke;
}
.link1,.link2,.link3{
    width: 100%;
    height: 50px;
    display: inline-block;
    padding-right: 20px;
    background-color: var(--main-bg-color);
}

.email a{
    
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 900px){
    .navbar .logo{
        position: absolute;
        top: 50px;
        left: 30px;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        background-color: rgba(63, 21, 21, 0.119);
        backdrop-filter: blur(7px);
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
    .email{
        display: none;
    }
}
@media only screen and (max-width:1045px) {
    .name{
        font-size: 30px;
    }
}
@media only screen and (max-width:961px) {
    .presentation .text{
        display: none;
    }
}