section {
  padding-top: 120px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
  }
  .container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
  }
  .left {
    width: 50%;
    height: 600px;
    background: url("https://us.123rf.com/450wm/keltmd/keltmd1602/keltmd160200018/52255008-ethnique-masque-tribal-africain-dans-la-couleur-de-fond-icon-flat-symbole-rituel-.jpg?ver=6")
      no-repeat center / cover;
    border-radius: 8px;
  }
  .right {
    width: 50%;
    min-height: 400px;
    background-color: #303137;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -150px;
  }
  .right h1 {
    font-size: 40px;
    font-weight: 700;
    color: #f6bd60;
  }
  .right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
  }
  .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
  }
  .content a:hover{
    background: #f6bd60;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left {
      width: 100%;
      height: 400px;
    }
    .right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  }
  
 