<div class="contact-section">
    <div class="contact-in">
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4005834.0673651784!2d-2.6174911823486324!3d11.338557730586592!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe2e1b37b214a8d5%3A0x8a6ec61b7b025b57!2sKoudougou!5e0!3m2!1sfr!2sbf!4v1660401464545!5m2!1sfr!2sbf" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-form">
            <h1>Contact me</h1>
            <form>
                <input class="contact-form-txt" type="text" placeholder="Name">
                <input class="contact-form-txt" type="text" placeholder="example@gmail.com">
                <textarea class="txt-area" placeholder="Text here.."></textarea>
                <input class="btn-submit" type="submit" value="Send">
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <h3>Arthur Code</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit amet vitae ipsa illo aliquam.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2022 ArthurCode. designed by <span>Franck Arthur</span></p>
    </div>
</footer>