<footer>
    <div class="footer-content">
        <h3>Arthur Code</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit amet vitae ipsa illo aliquam.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2022 ArthurCode. designed by <span>Franck Arthur</span></p>
    </div>
</footer>