<div class="body">
    <div class="container">
        <div class="content">
            <input type="radio" name="indicator" checked id="tab1">
            <input type="radio" name="indicator" id="tab2">
            <input type="radio" name="indicator" id="tab3">
            <input type="radio" name="indicator" id="tab4">
            <div class="list">
                <label for="tab1" class="tab1">
                    <span>Web</span>
                </label>
                <label for="tab2" class="tab2">
                    <span>Mobile</span>
                </label>
                <label for="tab3" class="tab3">
                    <span>Desktop</span>
                </label>
                <label for="tab4" class="tab4">
                    <span>Backend</span>
                </label>
                <div class="indicator"></div>
            </div>
            <div class="text-content">
                <div class="tab1 text">
                    <div class="skill-bars">
                        <div class="bar">
                          <div class="info">
                            <span>Web (HTML, CSS, Bootstrap, JS, jQuery)</span>
                          </div>
                          <div class="progress-line web">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Angular</span>
                          </div>
                          <div class="progress-line angular">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Tailwind CSS</span>
                          </div>
                          <div class="progress-line tail">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>React JS</span>
                          </div>
                          <div class="progress-line react">
                            <span></span>
                          </div>
                        </div>
                        
                      </div>
                </div>
                <div class="tab2 text">
                    <div class="skill-bars">
                        <div class="bar">
                          <div class="info">
                            <span>Java</span>
                          </div>
                          <div class="progress-line java1">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Flutter</span>
                          </div>
                          <div class="progress-line flutter">
                            <span></span>
                          </div>
                        </div>
                       
                      </div>
                </div>
                <div class="tab3 text">
                    <div class="skill-bars">
                        <div class="bar">
                          <div class="info">
                            <span>Python</span>
                          </div>
                          <div class="progress-line python">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Java</span>
                          </div>
                          <div class="progress-line java2">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>C#</span>
                          </div>
                          <div class="progress-line c">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Visual Basic for Application</span>
                          </div>
                          <div class="progress-line vba">
                            <span></span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="tab4 text">
                    <div class="skill-bars">
                        <div class="bar">
                          <div class="info">
                            <span>PHP & MySQL</span>
                          </div>
                          <div class="progress-line mysql">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Laravel</span>
                          </div>
                          <div class="progress-line laravel">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Django</span>
                          </div>
                          <div class="progress-line django">
                            <span></span>
                          </div>
                        </div>
                        <div class="bar">
                          <div class="info">
                            <span>Node JS</span>
                          </div>
                          <div class="progress-line node">
                            <span></span>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>