<div class="container">
    <div class="row">
        <div class="card">
           <img src="../assets/images/web.png" width="100px" alt="icon">
           <p> Web development</p>    
       </div>
       <div class="card">
           <img src="../assets/images/app.png" width="100px" alt="icon">
           <p>Mobile development</p>    
       </div>
       <div class="card">
           <img src="../assets/images/soft.png" width="100px" alt="icon">
           <p>Software Engineering</p>    
       </div>
       <div class="card">
           <img src="../assets/images/backend.png" width="100px" alt="icon">
           <p>Backend tools </p>    
       </div>
   </div>
</div>